/* m-plus-rounded-1c-regular - latin_cyrillic */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('https://virtualzer0.github.io/ChatWords/fonts/m-plus-rounded/m-plus-rounded-1c-v10-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('https://virtualzer0.github.io/ChatWords/fonts/m-plus-rounded/m-plus-rounded-1c-v10-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* m-plus-rounded-1c-300 - latin_cyrillic */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('https://virtualzer0.github.io/ChatWords/fonts/m-plus-rounded/m-plus-rounded-1c-v10-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('https://virtualzer0.github.io/ChatWords/fonts/m-plus-rounded/m-plus-rounded-1c-v10-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* m-plus-rounded-1c-500 - latin_cyrillic */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('https://virtualzer0.github.io/ChatWords/fonts/m-plus-rounded/m-plus-rounded-1c-v10-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('https://virtualzer0.github.io/ChatWords/fonts/m-plus-rounded/m-plus-rounded-1c-v10-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* m-plus-rounded-1c-700 - latin_cyrillic */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('https://virtualzer0.github.io/ChatWords/fonts/m-plus-rounded/m-plus-rounded-1c-v10-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('https://virtualzer0.github.io/ChatWords/fonts/m-plus-rounded/m-plus-rounded-1c-v10-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* m-plus-rounded-1c-900 - latin_cyrillic */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('https://virtualzer0.github.io/ChatWords/fonts/m-plus-rounded/m-plus-rounded-1c-v10-latin_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('https://virtualzer0.github.io/ChatWords/fonts/m-plus-rounded/m-plus-rounded-1c-v10-latin_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* m-plus-rounded-1c-800 - latin_cyrillic */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('https://virtualzer0.github.io/ChatWords/fonts/m-plus-rounded/m-plus-rounded-1c-v10-latin_cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('https://virtualzer0.github.io/ChatWords/fonts/m-plus-rounded/m-plus-rounded-1c-v10-latin_cyrillic-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}